@import '../../../general/variables.scss';

.about {

    .form_container {

        .input_container {

            textarea {
                padding: 0.3rem;
                width: 25rem;
                height: 10rem;
                resize: none;
                border: 1px solid $base-grey;
                border-radius: 0.1rem;
                color: $base-blue;
            }

            .counter_container {
                display: flex;
                width: 25rem;
                justify-content: space-between;
                margin-top: -0.8rem;

                p {
                    width: auto;
                    font-size: 0.7rem;
                    color: $base-grey;
                    font-style: italic;
                }
            }

            .bruce-wayne {
                color: $base-grey;
            }

            .batman {
                color: $base-blue;
            }

            select {

                padding: 0.4rem;
                width: 25rem;
                border: 1px solid $base-grey;
                border-radius: 0.1rem;
                background-color: #fff;
                color: $base-blue;

                option {
                    color: $base-blue;
                }
            }

            .fee_invisible {
                display: none;
            }

            .fee_visible {
                display: block;
            }
        }

        .input_container:nth-child(2) {
            align-items: flex-start;

            p {
                margin-top: 0.7rem;
            }
        }

        .input_container:nth-child(4) {
            height: 2rem;

            span {
                font-size: 0.9rem;
                color: $dark-grey;
                margin: 0 1.4rem 0 0.4rem;
            }

            input {
                width: auto;
            }

            input[type=number] {
                width: 5rem;
            }
        }

        .input_container:nth-child(5) {

            span {
                font-size: 0.9rem;
                color: $dark-grey;
                margin: 0 1.4rem 0 0.4rem;
            }

            input {
                width: 5rem;
            }
        }
    }
}