@import '../../../general/variables.scss';

.coordinator {

    .form_container {

        .input_container {

            select {
                padding: 0.4rem;
                width: 25rem;
                border: 1px solid $base-grey;
                border-radius: 0.1rem;
                background-color: #fff;
                color: $base-blue;

                option {
                    color: $base-blue;
                }
            }
        }
    }
}