.about {

    height: 30rem;

    form {
        .input_container {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;


            h3 {
                font-size: 0.8rem;
                color: #355990;
                width: 8rem;


                span {
                    color: red;
                }
            }

            input {
                padding: 0.4rem;
                width: 25rem;
                border: 1px solid #ccc;
                border-radius: 0.1rem;
                color: #355990;

            }

            textarea {
                padding: 0.3rem;
                width: 25rem;
                height: 10rem;
                resize: none;
                border: 1px solid #ccc;
                border-radius: 0.1rem;
                color: #355990;
            }

            ::placeholder {
                color: #ccc;
            }

            .counter_container {
                display: flex;
                width: 25rem;
                justify-content: space-between;
                margin-top: -0.8rem;

                p {
                    width: auto;
                    font-size: 0.7rem;
                    color: #ccc;
                    font-style: italic;
                }

            }

            .bruce-wayne {
                color: #ccc;
            }

            .batman {
                color: #355990;
            }

            select {

                padding: 0.4rem;
                width: 25rem;
                border: 1px solid #ccc;
                border-radius: 0.1rem;
                background-color: #fff;
                color: #355990;


                option {
                    color: #355990;
                }
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }

        }

        .input_container:nth-child(2) {
            align-items: flex-start;

            p {
                margin-top: 0.7rem;
            }
        }

        .input_container:nth-child(4) {

            span {
                font-size: 0.9rem;
                color: #808080;
                margin: 0 1.4rem 0 0.4rem;
            }

            input {
                width: auto;
            }

            input[type=number] {
                width: 5rem;
            }
        }


        .input_container:nth-child(5) {

            span {
                font-size: 0.9rem;
                color: #808080;
                margin: 0 1.4rem 0 0.4rem;
            }

            input {
                width: 4.5rem;

            }

        }
    }
}