@import '../../general/variables.scss';

.event {
    background-color: #f7f7f7f7;
    height: 90rem;

    .event__topColor {
        background-color: #1e3b68;
        height: 1rem;
    }

    .event__bottomColor {
        padding-left: 2rem;
        background-color: $base-blue;
        height: 5rem;
        display: flex;
        align-items: center;

        h1 {
            color: #fff;
            font-size: 2rem;
            font-weight: 100;
        }
    }

    .button_container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        button {
            border: 1px solid $button-color;
            border-radius: 0.1rem;
            background-color: $button-color;
            color: #fff;
            height: 2.5rem;
            width: 8rem;
        }
    }
}