.event {
    background-color: #f7f7f7f7;
    height: 90rem;

    .event__topColor {
        background-color: #1e3b68;
        height: 1rem;
    }

    .event__bottomColor {
        padding-left: 2rem;
        background-color: #355990;
        height: 5rem;
        display: flex;
        align-items: center;

        h1 {
            color: #fff;
            font-size: 2rem;
            font-weight: 100;

        }

    }


}