@import '../../../general/variables.scss';

.when {

    form {

        .input_container {

            input[type=date] {
                padding: 0.3rem;
                width: 10rem;
                border: 1px solid $base-grey;
                border-radius: 0.1rem;
                margin-right: 0.5rem;
                color: $base-grey;
            }

            input[type=time] {
                padding: 0.3rem;
                width: 5rem;
                border: 1px solid $base-grey;
                border-radius: 0.1rem;
                // margin-left: 0.5rem;
                color: $base-grey;
            }

            .radio_container {
                display: flex;
                align-items: center;

                input[type=radio] {
                    margin-left: 1rem;
                    width: 1rem;
                }

                p {
                    margin: 0 .1rem 0 0.2rem;
                }
            }

            input {
                width: 5rem;
            }

            p {
                font-size: 0.9rem;
                color: $dark-grey;
                margin: 0 1rem 0 0.5rem;
            }
        }
    }
}