.content {
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    // max-width: 1260px;
  }

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
  }
  
  html {
    font-size: 18px;
  }