@import './variables.scss';

.box {
    margin: 2rem 0 2rem 0;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #fff;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 1);
}

h2 {
    font-size: 1.5rem;
    color: #355990;
}

.under_line {
    margin: 0.7rem 0 2rem 0;
    border: 1px solid  $base-grey;
}

.input_container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: 0.8rem;
    color: $base-blue;
    width: 8rem;

    span {
        color: red;
    }
}

input[type=number] {

    &,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;

        &:hover,
        &:focus {
            -moz-appearance: number-input;
        }
    }
}

::placeholder {
    color: $base-grey;
}

input {
    padding: 0.4rem;
    width: 25rem;
    border: 1px solid $base-grey;
    border-radius: 0.1rem;
    color: $base-blue;
}